.header {
  display: flex;
  align-items: center;
  background-color: #010001;
  font-size: 20px;
  padding: 20px 30px;
  color: white;
  justify-content: space-between;

  .logo-sec {
    display: flex;
    align-items: center;
    gap: 20px;
    hr {
      border: 1px solid white;
      height: 30px;
    }
    img {
      width: 35px;
      height: 35px;
      border-radius: 12px;
      object-fit: contain;
      cursor: pointer;
    }
  }

  button {
    padding: 10px 20px;
    margin-right: 200px;
    border-radius: 7px;
    background-color: #1b1a1b;
    border: 1px solid rgb(197, 197, 197);
    color: white;
    font-size: 17px;
    cursor: pointer;
  }
}
