.card {
  background-color: #f5f6f9;
  height: 100px;
  width: 400px;
  margin-bottom: 30px;
  border-radius: 10px;
  height: 150px;
  border: 1px solid rgb(211, 211, 211);
  hr {
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
  }
  h4 {
    padding: 10px 20px 5px 20px;
  }

  p {
    padding: 10px 20px;
  }
}
